 
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font: inherit;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul,ol {
  list-style: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.container {
  --max-width:1110px;
  --padding:1rem;

  width: min(var(--max-width),100% - (var(--padding) *2));
  margin: 0 auto;
  overflow: hidden;
}
.container section {
  padding-top: 2rem;
}
.container section h2 {
  font-size: 35px;
  font-weight: bold;
  padding-bottom: 2rem ;
}

.boxes__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  gap: 1rem;
}

.carousel{
  width: 100%;
  max-width: 100%;
  display: inline-block;
  display: -webkit-inline-box;
  gap: 2rem;
  overflow-x: scroll;
  overscroll-behavior-inline: contain; 
}

.carousel::-webkit-scrollbar {
  width: 0;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 2rem;
}

.snaps-inline >  * {
  scroll-snap-align: start;
}

 