

.primary__header {
    position: sticky;
    top: 0;
    z-index: 50;
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    box-shadow: 0 0 1px 1px #ececec;
    padding: 1rem;
    background-color: white;
}
.primary__header .first {
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
}
.primary__header .first img {
    width: 100px;
    object-fit: cover;
}
.primary__header .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid #ececec;
    padding-left: 7px;
    padding-right: 7px;

}

.primary__header .middle svg {
    display: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color:white;
    cursor: pointer;
    opacity: 1;
    background-color: rgba(248,113,113); 
    padding: 8px;
    margin-left: 5px;
}
.primary__header .middle input {
    border: none;
    height: 100%;
    width: 100%; 
    outline: none;
    padding-left: 2px;
    border-radius: 10px;
    background-color: transparent;
    font-size: 15px;
    color: #222;
    
}
  
.primary__header .right {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-end;
    color: gray;
}
.primary__header .right svg  {
    width: 20px;
}

.primary__header .right #icons {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid #ececec;
    border-radius: 10px;
    padding: 0.3rem;
}
.primary__header .right p {
    display: none;
}
.primary__header .right #icons svg{
    cursor:pointer
}



@media (min-width:768px) {
    .primary__header {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    .primary__header .middle svg {
        display: flex;
    }
    .primary__header .right p {
        display: flex;
    }

}